body {
  display: flex;  
  flex-direction: column;
}



.topbar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 40px;
    flex-basis: 1000px;
    
    
    
}

button {
    width: 100px;
    height: auto;
    font-size: 18px;
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
}

.header {
    justify-content: flex-start;
    font-size: 32px;
    margin: 40px;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin: 40px;
}

.link {
    margin-left: 24px;
}

.body {
   display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin: 40px;
}

.container {
    background-color: #1f2937;
    color: white;
}


.leftside {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.image1 {
    justify-content: flex-end;

}
.heading {
    font-size: 48px;
    font-weight: 900;

}

.para {
    font-size: 18px;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    
    padding: 40px;
    margin-bottom: 40px;
    gap: 50px;
    
}

.images {
    
    max-width: 200px;
    
    
}

.image {
    
    border: 5px solid blue;
    border-radius: 8px;
    line-height: 0%;
    justify-content: center;
   align-items: center;
    

}

.secondheader {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: 40px;

}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    
    
}

.quotebox {
    width: 800px;
    padding: 40px;
    margin: 40px;   
}

.a {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.b {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.bottomsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox { 
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    flex-basis: 1000px;
    padding: 40px;
    margin: 40px;
    border: 5px solid #3882F6;
    border-radius: 8px;
    color: white;
}


.c {
    display: flex;
    flex-direction: column;
   margin-left: 40px;
    
}


.d {
    display: flex;
   margin-right: 40px;
    align-items: center;
    font-size: 14px;
}

.whiteborder {
    border-color: white;
}

.e {
    font-size: 24px;
}





.text {
   
  
   text-align: center;
  margin: 10px;
    

}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}